{% extends "base.html" %}
{% load static %}

{% block title %}Deletar Monografia{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Deletar Monografia</h2>
    <p>Você tem certeza que deseja deletar a monografia: <strong>{{ monografia.titulo }}</strong>?</p>
    
    <form method="post" class="delete-form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" style="width: 100%;">Deletar</button>
    <div class="cancel-wrapper">
        <a href="{% url 'listar_monografias' %}" class="cancel-btn">Cancelar</a>
    </div>
</form>
</div>
{% endblock %}
