{% extends "base.html" %}
{% load static %}

{% block title %}Editar Monografia{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Editar Monografia</h2>
    <form method="post" enctype="multipart/form-data" class="show-labels">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.titulo.label_tag }}
            {{ form.titulo }}
        </div>
        <div class="form-group">
            {{ form.autor.label_tag }}
            {{ form.autor }}
        </div>
        <div class="form-group">
            {{ form.orientador.label_tag }}
            {{ form.orientador }}
        </div>
        <div class="form-group">
            {{ form.coorientador.label_tag }}
            {{ form.coorientador }}
        </div>
        <div class="form-group">
            {{ form.resumo.label_tag }}
            {{ form.resumo }}
        </div>
        <div class="form-group">
            {{ form.abstract.label_tag }}
            {{ form.abstract }}
        </div>
        <div class="form-group">
            {{ form.palavras_chave.label_tag }}
            {{ form.palavras_chave }}
        </div>
        <div class="form-group">
            {{ form.arquivo }}
            {% if form.instance.arquivo %}
        <p>Arquivo atual: <a href="{{ form.instance.arquivo.url }}" target="_blank">{{ form.instance.arquivo.name }}</a></p>
    {% endif %}
        </div>
        <div class="form-group">
            {{ form.status }}
        </div>

        <button type="submit" class="btn-primary">Salvar Alterações</button>
    </form>

    <div class="options">
        <p><a href="{% url 'listar_monografias' %}">Voltar para a lista</a></p>
    </div>
</div>
{% endblock %}
